/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2b4257;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/* Main content */
main {
    flex: 1; /* This ensures the main content grows to take available space */
    padding: 20px;
}

/* Navbar styling */
.navbar {
    background-color: #292626;
    padding: 0.1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.navbar .logo h1 {
    color: white;
    margin: 0;
}
.navbar .logo img {
    height: 70px;
    margin-left: 10px;
}
.navbar .search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 0px;
    align-items: center;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 30px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
}

/* Search bar input field */
.search-bar {
    padding: 5px 10px;
    margin-left: 1px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    width: 400px;  /* Adjust width of the search bar */
    transition: width 0.3s ease;
}

.search-bar:focus {
    outline: none;
    width: 500px;  /* Expand the search bar when focused */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  /* Optional: Add a shadow when focused */
}
.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

.home-content {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}

.home-image {
    flex: 1;
    max-width: 50%;
    height: auto;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4); /* Horizontal offset, vertical offset, blur radius, and shadow color */
    opacity: 0.8;
}
/* Section styling */
section {
    margin-bottom: 30px;
}

h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    color: #ebedef;
    font-size: 1.3rem;
}
.content-section {
    margin-bottom: 30px;
}

.content-text {
    width: 100%;
}

ul {
    list-style: inside;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

li {
    margin: 5px 0;
    color: #ebedef
}

strong {
    color: #ffffff;

}
/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Ensures the footer stays at the bottom */
    font-size: 0.8rem;  /* Decrease font size for smaller text */
}
